@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}


.dark {
    --bg-color: #030712;
    --text-color: #ffffff;
  }
  
  .dark .dark {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  